{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{% static 'managerContact/addNumber.css' %}">
  <script src="script.js"></script>
</head>
<body>
  
    <div id="main">
        <div id="section-top">
            <div id="left">
                <h1>Add number </h1>
                {% comment %} {% if error_message %} {{error_message}} {% endif %} {% endcomment %}
                <form method="POST" action="{% url 'managerContact:addOtherNumber' person.id %}">
                    {% csrf_token %}
                    <div id="input-contact">
                        <label>Name : </label>
                        <input type="text" value="{{person.name_person}}" disabled placeholder="Name contact" />
                    </div>
                    <div id="input-contact">
                        <label>Email : </label>
                        <input type="email" value="{{person.email}}" disabled placeholder="E-mail" />
                    </div>

                    {% for number in person.numbertel_set.all %}
                        <div id="input-contact">
                            <label>number {{forloop.counter}} : </label>
                            <input type="text" value="{{number.other_number}}" disabled placeholder="Number contact" />
                        </div>
                    {% endfor %}

                    <div id="input-contact">
                        <label>New number phone : </label>
                        <input type="text" name="new_number_tel" required placeholder="New number contact" />
                    </div>
                    
                    <div id="input-contact">
                        <input type="submit" value="Add number"/>
                    </div>
                </form>
            </div>
        </div>
        {% comment %} <div>
        </div> {% endcomment %}
    </div>
    <div id="linkBottom">
        <a id="goHome" href="{% url 'managerContact:index' %}">Go home</a>
    </div>
    


</body>
</html>