
{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{% static 'managerContact/contactDeleted.css' %}">
  {% comment %} <script src="script.js"></script> {% endcomment %}
</head>
<body>
  
    <div id="main">
        <h1>Contacts Deleted</h1>
        {% if persons %}
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Contacts</th>
                <th>Options</th>
            </tr>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{person.id}}</td>
                        <td>{{person.name_person}}</td>
                        <td>{{person.email}}</td>
                        <td>
                            {% for number in person.numbertel_set.all %}
                                <span>{{number.other_number}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a id="restoreContact" href="{% url 'managerContact:restoreContact' person.id %}">Restore</a>
                            <a id="deleteContact" href="{% url 'managerContact:deleteContact' person.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="links">
            <a id="deleteAll" href="{% url 'managerContact:deleteAll' %}">Delete all contacts</a>
            <a id="restoreAll" href="{% url 'managerContact:restoreAll' %}">Restore all contacts</a>
        </div>
        {% else %}
            <div>No contacts deleted.</div>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'managerContact:index' %}">Go to home page</a>
    </div>
</body>
</html>