<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  
    <div id="main">
        <h1>Contacts Manager</h1>
        <div id="section-top">
            <div id="left">
                {% if error_message %} {{error_message}} {% endif %}
                <form method="POST" action="{% url 'managerContact:addPerson' %}">
                    {% csrf_token %}
                    <div id="input-contact">
                        <label>Name : </label>
                        <input type="text" id="name_person" name="name_person" placeholder="Name contact" />
                    </div>
                    <div id="input-contact">
                        <label>Email : </label>
                        <input type="email" name="email" placeholder="E-mail" />
                    </div>
                    <div id="input-contact">
                        <label>Number telephone : </label>
                        <input type="text" name="number_tel" placeholder="Number contact" />
                    </div>
                    <input type="submit" value="Save" />
                </form>
            </div>
            <div id="right">
                <div>
                    {% if persons %}
                    {% for person in persons %}
                        <div>
                            <div>
                                {{person.name_person}}
                                {% for number in person.numbertel_set.all %}
                                    {{number}}
                                {% endfor %}
                            </div>
                            <div id="options">
                                <a href="{% url 'managerContact:addNumber' person.id %}">Add others number</a>
                                <a href="{% url 'managerContact:updateContact' person.id %}">Update</a>
                                <a href="{% url 'managerContact:removeContact' person.id %}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div id="not-contact">No contacts in database</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'managerContact:ContactDeletedView' %}">View Contacts deleted</a>
            <a href="{% url 'managerContact:removeAll' %}">Delete all contacts</a>
        </div>
    </div>

</body>
</html>