
{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{% static 'managerContact/updateContact.css' %}">
  <script src="script.js"></script>
</head>
<body>
  
    <div id="main">
        <div id="section-top">
            <div id="left">
                <h1>Contacts Manager</h1>
                {% comment %} {% if error_message %} {{error_message}} {% endif %} {% endcomment %}
                <form method="POST" action="{% url 'managerContact:updateContactForm' person.id %}">
                    {% csrf_token %}
                    <div id="input-contact">
                        <label>Name : </label>
                        <input type="text" name="name_person" value="{{person.name_person}}" required placeholder="Name contact" />
                    </div>
                    <div id="input-contact">
                        <label>Email : </label>
                        <input type="email" name="email" value="{{person.email}}" required placeholder="E-mail" />
                    </div>

                    {% for number in person.numbertel_set.all %}
                        <div id="input-contact">
                            <label>Phone number {{forloop.counter}} : </label>
                            <input type="text" name="number{{forloop.counter}}" value="{{number.other_number}}" required placeholder="Number contact" />
                        </div>
                    {% endfor %}

                    {% comment %} Button submit {% endcomment %}
                    <div id="input-contact">
                        <input type="submit" value="Update contact"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="linkBottom">
        <a id="goHome" href="{% url 'managerContact:index' %}">Go home</a>
    </div>

</body>
</html>