*{
    margin: 0;
    padding: 0;
}

html , body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Lato, sans-serif;
}

#main{
    border:solid 1px black;
    padding:15px;
    border-radius: 5px;
    font-size: 20px;

    /* Position */
    display: flex;
    flex-direction: row;
}

#main #section-top{
    /* border:solid 1px; */
    padding: 10px;

    /* position */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#main #section-top #left{
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
}

#main #section-top #left form #input-contact{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#main #section-top #left form #input-contact input{
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: solid 1px;
    border-radius: 3px;
}

#main #section-top #left form #input-contact input:focus{
    outline: none;
}



#main #section-top #left form #input-contact input[type="submit"]{
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background-color: #1D5B79;
    border-radius: 5px;
    cursor:pointer;

}

#main #section-top #left form #input-contact input[type="submit"]:hover{
    transition: all ease .5s;
    background-color:rgba(29, 90, 121, 0.715);
}


#main #section-top #right #info-list{
    font-size: 15px;
    border: solid 1px;
    border-radius: 5px;
    padding: 15px;
    /* Height */
    height: 350px;
    overflow-y: scroll;
    /* Display */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main #section-top #right #info-list #contact-bloc{
    border-radius: 5px;
}
#main #section-top #right #info-list #contact-bloc #props{
    font-size: 18px;
}

#main #section-top #right #info-list #contact-bloc #options{
    margin-top: 8px;
    margin-bottom: 8px;
}

#main #section-top #right #info-list #contact-bloc #addNumber{
    border:solid 1px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;

    /* color */
    background-color: #1D5B79;
    color:white;
    font-weight: bold;
}
#main #section-top #right #info-list #contact-bloc #updateContact{
    border:solid 1px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
    /* color */
    background-color: #1B9C85;
    color:white;
    font-weight: bold;
}
#main #section-top #right #info-list #contact-bloc #removeContact{
    border:solid 1px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
    /* color */
    background-color: #EF6262;
    color:white;
    font-weight: bold;
}

#main #section-top #right #contact-bloc{
    border:solid 1px;
    padding: 5px;
}


#linkBottom{
    margin-top: 20px;
}

#viewContactDeleted{
    background-color: #468B97;
    padding:10px;
    border-radius: 5px;

    font-weight: bold;
    color:white;
    text-decoration: none;

    cursor: pointer;
}

#viewContactDeleted:hover{
    background-color: #3d828ed7;
    transition: all ease .5s;
}

#deleteAllContact{
    background-color: #EF6262;
    padding:10px;
    border-radius: 5px;

    font-weight: bold;
    color:white;
    text-decoration: none;

    cursor: pointer;
}

#deleteAllContact:hover{
    background-color: #cc4a4aee;
    transition: all ease .5s;
}